<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dr.mapper.user.KakaoUsersMapper">

    <select id="findByProviderId" resultType="KakaoUsersDTO">
        SELECT USER_NUMBER, USER_EMAIL, USER_NICKNAME, USER_PHONE, PROVIDER, PROVIDER_ID, PROFILE_PIC
        FROM DR_USER
        WHERE PROVIDER_ID = #{providerId}
    </select>

    <insert id="insertKakaoUser" parameterType="KakaoUsersDTO" useGeneratedKeys="true" keyProperty="userNumber">
        INSERT INTO DR_USER (
        USER_EMAIL, USER_PW, USER_NICKNAME, USER_PHONE,
        PROVIDER, PROVIDER_ID, PROFILE_PIC, USER_STATUS
        )
        VALUES (
        #{accountEmail}, #{userPw}, #{name}, #{phone},
        #{provider}, #{providerId}, #{profilePic}, '구글회원'
        )
    </insert>

    <update id="updateUser" parameterType="KakaoUsersDTO">
        UPDATE DR_USER
        SET PROFILE_PIC = #{profilePic}
        WHERE PROVIDER_ID = #{providerId}
    </update>

</mapper>