<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dr.mapper.user.UserMapper">

    <insert id="insertUser" parameterType="UserDTO" useGeneratedKeys="true" keyProperty="userNumber">
        INSERT INTO DR_USER (
        USER_EMAIL, USER_PW, USER_NICKNAME, USER_PHONE,
        USER_STATUS, PROVIDER, PROVIDER_ID, PROFILE_PIC
        )
        VALUES (
        #{userEmail}, #{userPw}, #{userNickName}, #{userPhone},
        '일반회원', NULL, NULL, 'basicProfile.png'
        )
    </insert>

    <select id="checkEmailExists" parameterType="String" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM DR_USER
        WHERE USER_EMAIL = #{userEmail}
    </select>

    <select id="checkPhoneExists" parameterType="String" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM DR_USER
        WHERE USER_PHONE = #{userPhone}
    </select>

    <select id="userLogin" resultType="UserSessionDTO">
        SELECT DU.USER_NUMBER, DU.USER_NICKNAME, DU.PROFILE_PIC AS PHOTO_LOCAL
        FROM DR_USER DU
        WHERE DU.USER_EMAIL = #{userEmail}
          AND DU.USER_PW = #{userPw}
          AND DU.USER_STATUS != '탈퇴'
    </select>

    <select id="userEmailFind" parameterType="String" resultType="EmailFindDTO">
        SELECT U.USER_EMAIL
        FROM DR_USER U
        WHERE U.USER_PHONE = #{userPhone}
    </select>

    <select id="userPwFind" parameterType="PwFindDTO" resultType="PwFindDTO">
        SELECT USER_PHONE
        FROM DR_USER
        WHERE USER_PHONE = #{arg1} AND USER_EMAIL = #{arg0}
    </select>

    <update id="updatePassword">
        UPDATE DR_USER
        SET USER_PW = #{userPw}
        WHERE USER_PHONE = #{userPhone}
    </update>

    <select id="checkNickName" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM DR_USER
        WHERE USER_NICKNAME = #{userNickName}
    </select>

    <select id="findNewUser" parameterType="UserDTO" resultType="Long">
        SELECT USER_NUMBER
        FROM DR_USER
        WHERE USER_EMAIL = #{userEmail} AND
            USER_NICKNAME = #{userNickName} AND
            USER_PHONE = #{userPhone}
        ORDER BY USER_NUMBER DESC
            LIMIT 1
    </select>

    <insert id="insertNewUserPoint" parameterType="UserDTO" useGeneratedKeys="true" keyProperty="pointNumber">
        INSERT INTO DR_POINT (USER_NUMBER, POINT_CHANGE, POINT_NOTE, POINT_DATE)
        VALUES (#{userNumber}, 0, '신규가입', NOW())
    </insert>

    <insert id="insertNewUserScore" parameterType="UserDTO" useGeneratedKeys="true" keyProperty="scoreNumber">

        INSERT INTO DR_SCORE (USER_NUMBER, SCORE_GET, SCORE_DATE, SCORE_REASON)
        VALUES (#{userNumber}, 0, NOW(), '신규가입')
    </insert>

    <insert id="insertNewUserPhoto" parameterType="UserDTO" useGeneratedKeys="true" keyProperty="photoNumber">
        INSERT INTO DR_PHOTO (USER_NUMBER, PHOTO_ORIGINAL, PHOTO_LOCAL, PHOTO_UPLOAD_DATE)
        VALUES (#{userNumber}, 'basicProfile.png', 'basicProfile.png', NOW())
    </insert>
</mapper>