<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dr.mapper.board.BoardMapper">

    <select id="freeBoardList" resultType="FreeBoardListDTO">
        SELECT B.BOARD_NUMBER,
               B.BOARD_TITLE,
               U.USER_NICKNAME,
               COUNT(G.GOOD_NUMBER) AS goodCount,
               B.BOARD_WRITE_DATE
        FROM DR_BOARD B
                 LEFT JOIN
             DR_USER U ON B.USER_NUMBER = U.USER_NUMBER
                 LEFT JOIN
             DR_GOOD G ON B.BOARD_NUMBER = G.BOARD_NUMBER
        WHERE B.BOARD_TYPE = '자유게시판'
        GROUP BY B.BOARD_NUMBER, B.BOARD_TITLE, U.USER_NICKNAME, B.BOARD_WRITE_DATE
        ORDER BY B.BOARD_WRITE_DATE DESC
    </select>

    <select id="freeBoardListGood" resultType="FreeBoardListDTO">
        SELECT B.BOARD_NUMBER,
               B.BOARD_TITLE,
               U.USER_NICKNAME,
               COUNT(G.GOOD_NUMBER) AS goodCount,
               B.BOARD_WRITE_DATE
        FROM DR_BOARD B
                 LEFT JOIN DR_USER U ON B.USER_NUMBER = U.USER_NUMBER
                 LEFT JOIN DR_GOOD G ON B.BOARD_NUMBER = G.BOARD_NUMBER
        WHERE B.BOARD_TYPE = '자유게시판'
        GROUP BY B.BOARD_NUMBER, B.BOARD_TITLE, U.USER_NICKNAME, B.BOARD_WRITE_DATE
        ORDER BY goodCount DESC, B.BOARD_WRITE_DATE DESC
    </select>

    <select id="freeBoardDetail" resultType="FreeBoardDetailDTO">
        SELECT B.BOARD_NUMBER,
               B.BOARD_TITLE,
               B.BOARD_TYPE,
               B.BOARD_TEXT,
               B.BOARD_WRITE_DATE,
               U.USER_NUMBER,
               U.USER_NICKNAME,
               P.PHOTO_LOCAL,
               COUNT(DISTINCT G.GOOD_NUMBER) AS goodCount,
               U.PROFILE_PIC
        FROM DR_BOARD B
                 JOIN DR_USER U ON B.USER_NUMBER = U.USER_NUMBER
                 LEFT JOIN DR_PHOTO P ON B.BOARD_NUMBER = P.BOARD_NUMBER
                 LEFT JOIN DR_GOOD G ON B.BOARD_NUMBER = G.BOARD_NUMBER
        WHERE B.BOARD_NUMBER = #{boardNumber}
          AND B.BOARD_TYPE = '자유게시판'
        GROUP BY B.BOARD_NUMBER,
                 B.BOARD_TITLE,
                 B.BOARD_TYPE,
                 B.BOARD_TEXT,
                 B.BOARD_WRITE_DATE,
                 U.USER_NUMBER,
                 U.USER_NICKNAME,
                 P.PHOTO_LOCAL,
                 U.PROFILE_PIC
    </select>

    <select id="freeBoardCommentList" parameterType="Long" resultType="FreeBoardCommentDTO">
        SELECT R.REPLY_NUMBER,
               U.USER_NICKNAME,
               R.REPLY_WRITE_DATE,
               R.REPLY_MODIFY_DATE,
               R.REPLY_TEXT,
               U.PROFILE_PIC
        FROM DR_REPLY R
                 JOIN DR_USER U ON R.USER_NUMBER = U.USER_NUMBER
        WHERE R.BOARD_NUMBER = #{boardNumber}
        ORDER BY R.REPLY_WRITE_DATE DESC
    </select>

    <insert id="freeBoardInsertReply" parameterType="FreeBoardCommentDTO" useGeneratedKeys="true" keyProperty="replyNumber">
        INSERT INTO DR_REPLY(REPLY_TEXT, BOARD_NUMBER, USER_NUMBER, REPLY_WRITE_DATE)
        VALUES (#{replyText}, #{boardNumber}, #{userNumber}, NOW())
    </insert>

    <update id="freeBoardUpdateReply" parameterType="FreeBoardCommentDTO">
        UPDATE DR_REPLY
        SET REPLY_TEXT        = #{replyText},
            REPLY_MODIFY_DATE = NOW()
        WHERE REPLY_NUMBER = #{replyNumber}
    </update>

    <delete id="freeBoardDeleteReply" parameterType="Long">
        DELETE
        FROM DR_REPLY
        WHERE REPLY_NUMBER = #{replyNumber}
    </delete>

    <insert id="freeGoodPlus" parameterType="FreeGoodDTO" useGeneratedKeys="true" keyProperty="goodNumber">
        INSERT INTO DR_GOOD(BOARD_NUMBER, USER_NUMBER)
        VALUES (#{boardNumber}, #{userNumber})
    </insert>

    <delete id="freeGoodMinus" parameterType="FreeGoodDTO">
        DELETE
        FROM DR_GOOD
        WHERE BOARD_NUMBER = #{boardNumber}
          AND USER_NUMBER = #{userNumber}
    </delete>

    <insert id="freeBoardInsertWrite" parameterType="FreeBoardWriteDTO" useGeneratedKeys="true" keyProperty="boardNumber">
        INSERT INTO DR_BOARD (
        USER_NUMBER, BOARD_TITLE, BOARD_TEXT,
        BOARD_TYPE, BOARD_WRITE_DATE
        ) VALUES (
        #{userNumber}, #{boardTitle}, #{boardText},
        '자유게시판', NOW()
        )
    </insert>
    <insert id="freeBoardInsertPhoto" parameterType="FreeBoardPhotoDTO" useGeneratedKeys="true" keyProperty="photoNumber">
        INSERT INTO DR_PHOTO (
        PHOTO_ORIGINAL, PHOTO_LOCAL, PHOTO_SIZE, BOARD_NUMBER
        ) VALUES (
        #{photoOriginal}, #{photoLocal}, #{photoSize}, #{boardNumber}
        )
    </insert>

    <delete id="freeBoardDeleteWrite" parameterType="Long">
        DELETE FROM DR_BOARD WHERE BOARD_NUMBER = #{boardNumber}
    </delete>

    <delete id="freeBoardDeletePhoto" parameterType="Long">
        DELETE FROM DR_PHOTO WHERE BOARD_NUMBER = #{boardNumber}
    </delete>

    <update id="freeBoardUpdateWrite" parameterType="FreeBoardUpdateDTO">
        UPDATE DR_BOARD
        SET BOARD_TITLE = #{boardTitle},
            BOARD_TEXT = #{boardText}
        WHERE BOARD_NUMBER = #{boardNumber}
    </update>

    <update id="freeBoardUpdatePhoto" parameterType="FreeBoardUpdateDTO">
        UPDATE DR_PHOTO
        SET PHOTO_ORIGINAL = #{photoOriginal},
        PHOTO_LOCAL = #{photoLocal},
        PHOTO_SIZE = #{photoSize}
        WHERE BOARD_NUMBER = #{boardNumber}
    </update>

    <select id="honeyBoardList" resultType="HoneyBoardListDTO">
        SELECT B.BOARD_NUMBER,
               B.BOARD_TITLE,
               U.USER_NICKNAME,
               COUNT(G.GOOD_NUMBER) AS goodCount,
               B.BOARD_WRITE_DATE
        FROM DR_BOARD B
                 LEFT JOIN
             DR_USER U ON B.USER_NUMBER = U.USER_NUMBER
                 LEFT JOIN
             DR_GOOD G ON B.BOARD_NUMBER = G.BOARD_NUMBER
        WHERE B.BOARD_TYPE = '꿀팁게시판'
        GROUP BY B.BOARD_NUMBER, B.BOARD_TITLE, U.USER_NICKNAME, B.BOARD_WRITE_DATE
        ORDER BY B.BOARD_WRITE_DATE DESC
    </select>

    <select id="honeyBoardListGood" resultType="HoneyBoardListDTO">
        SELECT B.BOARD_NUMBER,
               B.BOARD_TITLE,
               U.USER_NICKNAME,
               COUNT(G.GOOD_NUMBER) AS goodCount,
               B.BOARD_WRITE_DATE
        FROM DR_BOARD B
                 LEFT JOIN DR_USER U ON B.USER_NUMBER = U.USER_NUMBER
                 LEFT JOIN DR_GOOD G ON B.BOARD_NUMBER = G.BOARD_NUMBER
        WHERE B.BOARD_TYPE = '꿀팁게시판'
        GROUP BY B.BOARD_NUMBER, B.BOARD_TITLE, U.USER_NICKNAME, B.BOARD_WRITE_DATE
        ORDER BY goodCount DESC, B.BOARD_WRITE_DATE DESC
    </select>

    <select id="honeyBoardDetail" resultType="HoneyBoardDetailDTO">
        SELECT B.BOARD_NUMBER,
               B.BOARD_TITLE,
               B.BOARD_TYPE,
               B.BOARD_TEXT,
               B.BOARD_WRITE_DATE,
               U.USER_NUMBER,
               U.USER_NICKNAME,
               P.PHOTO_LOCAL,
               COUNT(DISTINCT G.GOOD_NUMBER) AS goodCount,
               U.PROFILE_PIC
        FROM DR_BOARD B
                 JOIN DR_USER U ON B.USER_NUMBER = U.USER_NUMBER
                 LEFT JOIN DR_PHOTO P ON B.BOARD_NUMBER = P.BOARD_NUMBER
                 LEFT JOIN DR_GOOD G ON B.BOARD_NUMBER = G.BOARD_NUMBER
        WHERE B.BOARD_NUMBER = #{boardNumber}
          AND B.BOARD_TYPE = '꿀팁게시판'
        GROUP BY B.BOARD_NUMBER,
                 B.BOARD_TITLE,
                 B.BOARD_TYPE,
                 B.BOARD_TEXT,
                 B.BOARD_WRITE_DATE,
                 U.USER_NUMBER,
                 U.USER_NICKNAME,
                 P.PHOTO_LOCAL,
                 U.PROFILE_PIC
    </select>

    <select id="honeyBoardCommentList" parameterType="Long" resultType="HoneyBoardCommentDTO">
        SELECT R.REPLY_NUMBER,
               U.USER_NICKNAME,
               R.REPLY_WRITE_DATE,
               R.REPLY_MODIFY_DATE,
               R.REPLY_TEXT,
               U.PROFILE_PIC
        FROM DR_REPLY R
                 JOIN DR_USER U ON R.USER_NUMBER = U.USER_NUMBER
        WHERE R.BOARD_NUMBER = #{boardNumber}
        ORDER BY R.REPLY_WRITE_DATE DESC
    </select>

    <insert id="honeyBoardInsertReply" parameterType="HoneyBoardCommentDTO" useGeneratedKeys="true" keyProperty="replyNumber">
        INSERT INTO DR_REPLY(REPLY_TEXT, BOARD_NUMBER, USER_NUMBER, REPLY_WRITE_DATE)
        VALUES (#{replyText}, #{boardNumber}, #{userNumber}, NOW())
    </insert>

    <update id="honeyBoardUpdateReply" parameterType="HoneyBoardCommentDTO">
        UPDATE DR_REPLY
        SET REPLY_TEXT        = #{replyText},
            REPLY_MODIFY_DATE = NOW()
        WHERE REPLY_NUMBER = #{replyNumber}
    </update>

    <delete id="honeyBoardDeleteReply" parameterType="Long">
        DELETE
        FROM DR_REPLY
        WHERE REPLY_NUMBER = #{replyNumber}
    </delete>

    <insert id="honeyGoodPlus" parameterType="HoneyGoodDTO" useGeneratedKeys="true" keyProperty="goodNumber">
        INSERT INTO DR_GOOD(BOARD_NUMBER, USER_NUMBER)
        VALUES (#{boardNumber}, #{userNumber})
    </insert>

    <delete id="honeyGoodMinus" parameterType="HoneyGoodDTO">
        DELETE
        FROM DR_GOOD
        WHERE BOARD_NUMBER = #{boardNumber}
          AND USER_NUMBER = #{userNumber}
    </delete>

    <insert id="honeyBoardInsertWrite" parameterType="HoneyBoardWriteDTO" useGeneratedKeys="true" keyProperty="boardNumber">
        INSERT INTO DR_BOARD (
            USER_NUMBER, BOARD_TITLE, BOARD_TEXT,
            BOARD_TYPE, BOARD_WRITE_DATE
        ) VALUES (
                     #{userNumber}, #{boardTitle}, #{boardText},
                     '꿀팁게시판', NOW()
                 )
    </insert>

    <insert id="honeyBoardInsertPhoto" parameterType="HoneyBoardPhotoDTO" useGeneratedKeys="true" keyProperty="photoNumber">
        INSERT INTO DR_PHOTO (
            PHOTO_ORIGINAL, PHOTO_LOCAL, PHOTO_SIZE, BOARD_NUMBER
        ) VALUES (
                     #{photoOriginal}, #{photoLocal}, #{photoSize}, #{boardNumber}
                 )
    </insert>

    <delete id="honeyBoardDeleteWrite" parameterType="Long">
        DELETE FROM DR_BOARD WHERE BOARD_NUMBER = #{boardNumber}
    </delete>

    <delete id="honeyBoardDeletePhoto" parameterType="Long">
        DELETE FROM DR_PHOTO WHERE BOARD_NUMBER = #{boardNumber}
    </delete>

    <update id="honeyBoardUpdateWrite" parameterType="HoneyBoardUpdateDTO">
        UPDATE DR_BOARD
        SET BOARD_TITLE = #{boardTitle},
            BOARD_TEXT = #{boardText}
        WHERE BOARD_NUMBER = #{boardNumber}
    </update>

    <update id="honeyBoardUpdatePhoto" parameterType="HoneyBoardUpdateDTO">
        UPDATE DR_PHOTO
        SET PHOTO_ORIGINAL = #{photoOriginal},
        PHOTO_LOCAL = #{photoLocal},
        PHOTO_SIZE = #{photoSize}
        WHERE BOARD_NUMBER = #{boardNumber}
    </update>


    <insert id="report" parameterType="BoardReportDTO" useGeneratedKeys="true" keyProperty="sirenNumber">
        INSERT INTO DR_SIREN(SIREN_REASON, SIREN_TYPE, BOARD_NUMBER, REPLY_NUMBER, USER_NUMBER, SIREN_DATE)
        VALUES (#{sirenReason}, #{sirenType}, #{boardNumber}, #{replyNumber}, #{userNumber}, NOW())
    </insert>

</mapper>